<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Видалення Людини</title>
</head>
<body>
<h2>Виберіть ім'я людини яку потрібно видалити</h2>
<form action="/html/persons/delete" method="post">
    <label for="personId">Ім'я</label>
    <select id="personId" name="personId">
        <option th:each="person : ${persons}"
                th:value="${person.id}"
                th:text="${person.name}">Ім'я
        </option>
    </select>
    <button type="submit">Видалити</button>
</form>

</body>
</html>