<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дані особи</title>
</head>
<body>

<h2>Деталі особи</h2>

<table border="1">
    <tr><th>Id</th><td th:text="${person.id}">ID</td></tr>
    <tr><th>Name</th><td th:text="${person.name}">Ім’я</td></tr>
    <tr><th>Age</th><td th:text="${person.age}">Вік</td></tr>
    <tr><th>Gender</th><td th:text="${person.gender}">Стать</td></tr>
    <tr><th>Telegram</th><td th:text="${person.telegramAccount}">Telegram</td></tr>
    <tr><th>Phone Number</th><td th:text="${person.phoneNumber}">Телефон</td></tr>
    <tr><th>Email</th><td th:text="${person.email}">Email</td></tr>
    <tr><th>Season Ticket</th>
        <td th:text="${person.seasonTicket != null ? person.seasonTicket.type : '---'}">Квиток</td>
    </tr>
</table>

<br>
<a href="/html/people">⬅ Повернутись до списку</a>

</body>
</html>